body {
  background-color: white;
  font: 1.2em "Lora", arial;
}

#page-wrapper {
  position: relative;
}

h2 {
  font: bold 1.3em "Franklin Gothic Medium";
  padding-bottom: 10px;
}

li {
  list-style: none;
}

a {
  color: #7952b3;
  text-decoration: none;
}

header {
  top: 0;
  left: 0;
  min-height: 20px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 650px) {
  header {
    flex-wrap: wrap;
  }
}

.logo {
  width: 45vw;
  animation: myAnim 2s ease 0s 1 normal forwards;
}
@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}

.logo > img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}

nav {
  font: 1.1em "Lucida Sans Typewriter";
}

@media (max-width: 650px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  nav li {
    padding-bottom: 10px;
  }
}

nav > ul {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}

#package {
  align-items: center;
  flex-direction: column;
}

footer {
  margin-top: 30px;
  padding: 20px;
}

footer > ul {
  display: flex;
  justify-content: space-around;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
